@import url('https://fonts.googleapis.com/css2?family=Orbit&family=Wix+Madefor+Display&display=swap');
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);


* {

    color: white;
    font-family: 'Wix Madefor Display', sans-serif;
}

:root {
    --lineas-verdes: #08d85a;
    --texto-general: 'Orbit', sans-serif;
}

body {
    background: black;
    font-family: var(--texto-general);
}

a {
    text-decoration: none;
}

/*Trabajando en el header*/

.cabecera-principal {
    margin: 1vw;
    padding: 20px;
    height: 2vw;
    display: flex;
    background: black;
}

.bg-6 {
    background: none;
}

.glitch {
    color: #08d85a;
    font-size: 2em;
    font-weight: bold;
    position: relative;
    width: 800px;
    margin: 0 auto;
    font-family: var(--texto-general);
}

.glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 16px;
    text-shadow: -1px 0 red;
    top: 0;
    color: white;
    background: none;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
}

.glitch:before {
    content: attr(data-text);
    position: absolute;
    left: 8px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: white;
    background: black;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
}

@keyframes noise-anim {
    0% {
        clip: rect(51px, 9999px, 28px, 0);
    }

    5% {
        clip: rect(70px, 9999px, 19px, 0);
    }

    10% {
        clip: rect(92px, 9999px, 13px, 0);
    }

    15% {
        clip: rect(85px, 9999px, 49px, 0);
    }

    20% {
        clip: rect(45px, 9999px, 56px, 0);
    }

    25% {
        clip: rect(26px, 9999px, 31px, 0);
    }

    30% {
        clip: rect(62px, 9999px, 73px, 0);
    }

    35% {
        clip: rect(34px, 9999px, 11px, 0);
    }

    40% {
        clip: rect(26px, 9999px, 61px, 0);
    }

    45% {
        clip: rect(34px, 9999px, 71px, 0);
    }

    50% {
        clip: rect(35px, 9999px, 69px, 0);
    }

    55% {
        clip: rect(92px, 9999px, 81px, 0);
    }

    60% {
        clip: rect(26px, 9999px, 85px, 0);
    }

    65% {
        clip: rect(2px, 9999px, 68px, 0);
    }

    70% {
        clip: rect(54px, 9999px, 79px, 0);
    }

    75% {
        clip: rect(35px, 9999px, 85px, 0);
    }

    80% {
        clip: rect(70px, 9999px, 60px, 0);
    }

    85% {
        clip: rect(32px, 9999px, 26px, 0);
    }

    90% {
        clip: rect(94px, 9999px, 53px, 0);
    }

    95% {
        clip: rect(99px, 9999px, 92px, 0);
    }

    100% {
        clip: rect(42px, 9999px, 27px, 0);
    }
}

@keyframes noise-anim-2 {
    0% {
        clip: rect(21px, 9999px, 49px, 0);
    }

    5% {
        clip: rect(27px, 9999px, 52px, 0);
    }

    10% {
        clip: rect(21px, 9999px, 70px, 0);
    }

    15% {
        clip: rect(65px, 9999px, 25px, 0);
    }

    20% {
        clip: rect(24px, 9999px, 10px, 0);
    }

    25% {
        clip: rect(61px, 9999px, 64px, 0);
    }

    30% {
        clip: rect(34px, 9999px, 47px, 0);
    }

    35% {
        clip: rect(46px, 9999px, 93px, 0);
    }

    40% {
        clip: rect(46px, 9999px, 9px, 0);
    }

    45% {
        clip: rect(67px, 9999px, 36px, 0);
    }

    50% {
        clip: rect(72px, 9999px, 20px, 0);
    }

    55% {
        clip: rect(79px, 9999px, 26px, 0);
    }

    60% {
        clip: rect(13px, 9999px, 87px, 0);
    }

    65% {
        clip: rect(10px, 9999px, 25px, 0);
    }

    70% {
        clip: rect(85px, 9999px, 11px, 0);
    }

    75% {
        clip: rect(94px, 9999px, 35px, 0);
    }

    80% {
        clip: rect(50px, 9999px, 86px, 0);
    }

    85% {
        clip: rect(74px, 9999px, 67px, 0);
    }

    90% {
        clip: rect(1px, 9999px, 40px, 0);
    }

    95% {
        clip: rect(3px, 9999px, 48px, 0);
    }

    100% {
        clip: rect(90px, 9999px, 23px, 0);
    }
}

.cabecera-principal {
    margin: 0%;
}


.cabecera-principal .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecera-principal a {
    color: var(--lineas-verdes);
    font-size: 1.5em;
}

.bg-6 {
    display: flex;
}

.cabecera-nav {
    display: flex;
    align-items: self-end;
}

/*Comienza el hero*/

.hero-principal .container {
    border: #08d85a solid;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 20px;
    align-items: center;
    height: 40vw;
    
}



.texto-hero {
    display: flex;
    padding: 2px;
    width: 60%;
    text-align: right;
}

.texto-hero h1 {
    display: flex;
    font-size: 3em;
    font-weight: bold;
    background-color: none;
    align-content: flex-end;
    color: white;
}

/*Ligas CV*/

.ligas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3vw;
    padding: 20px;
}

.botones-hero {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.botones-hero a {
    font-size: 2rem;
    color: #08d85a;
}

/*skills*/

.skills-principal {
    padding: 10px;
    height: auto;
    width: 100%;
    justify-content: center;
    border: #08d85a solid;
}

.skills-container-1 {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 300px;
}

.skills-container-2 {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 300px;
}

.logos p:hover {
    display: flex;
    color: #FF1493;
}


.texto-skills {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 30px;
    transition: color 2s ease-out 100ms;
}

.texto-skills h1:hover {
    color: #FF1493;
}


/* Hobiies */

.texto-hobbies {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 70%;
    height: auto;
    font-size: 30px;
    margin: 0 auto;

}

.texto-hobbies h1:hover {
    color: #FF1493;
}

.hobbies {
    padding: 10px;
    display: flex;

}

.hobbies-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 250px;
    width: 80%;
    align-items: center;
    margin: 0 auto;
    border: #08d85a solid;
}



.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: none;
    color: black;
}

.flip-card-back {
    background-color: none;
    transform: rotateY(180deg);
}

.flip-card-back h1 {
    color: #08d85a;
}


.flip-card {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    width: 100px;
    height: 100px;
    perspective: 1000px;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.img-hobbies {
    width: 100px;
    height: 100px;

}

/* Formacion Academica */


.formacion {
    border: #08d85a solid;
    height: 600px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto-formacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180px;
    background: none;
}

.texto-formacion h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    background: none;
}

.formacion h1:hover {
    color: #FF1493;
}

.formacion-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    height: 300px;
    align-items: center;
    background: none;
}

.formacion h2 {
    color: #08d85a;
    padding: 5px;
    background: none;
}

.formacion p {
    background: none;
}


#ucamp {
    width: 100px;
    height: 100px;
}

#alura {
    background: #bbb;
    border-radius: 10px;
    width: 250px;
    height: 100px;
}

#itsco {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

/*Trabajos*/

.expertis-principal .box-2 {

    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: none;

}

.expertis-principal {
    padding: 20px;
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.expertis-container {
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 20px;
}

.mySlides {
    display: flex;
    height: 600px;
    width: 900px;
    margin: 0 auto;
}

.expertis-principal img {
    border-radius: 15px;
    border: solid #08d85a;
}

.btnn {
    margin: 0 auto;
    padding: 5px;
    font-size: 20px;
    height: 2.5em;
    width: 15em;
    border: none;
    background: none;
}

/* formulario */

.formulario-principal {
    display: flex;
    height: 40%;
    width: auto;
    padding: 20px;
    border: #08d85a solid;
}

.formulario-principal form {
    width: 500px;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
    border-radius: 5px;
}



input,
textarea {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #08d85a;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #08d85a;
}

/* footer */

.pie {
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vw;
    width: auto;
    background: rgb(8, 216, 90);
    background: linear-gradient(0deg, rgba(8, 216, 90, 1) 0%, rgba(204, 204, 204, 0) 84%);
}


.pie p {
    text-align: center;
    color: black;
    background: none;
    font-weight: bolder;
}


/*Medias*/

@media (min-width: 320px)and (max-width: 480px) {
    .cabecera-principal .container {
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .cabecera-principal a {
        font-size: 20px;
        font-weight: bold;
    }

    .logo {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .cabecera-nav {
        display: none;
    }
}


/*hero*/

@media (min-width: 320px)and (max-width: 480px) {
    .hero-principal {
        background-size: cover;
    }

    .hero-principal .container {
        padding: 0%;
        justify-content: center;
        height: auto;
    }

    .texto-hero {
        text-align: center;
        width: auto;
    }

    .texto-hero h1 {
        font-size: 18px;
    }

}

/* ligas */

@media (min-width: 320px)and (max-width: 480px) {

    .ligas {
        display: flex;
        height: 250px;
        width: auto;
    }

    .botones-hero {
        flex-direction: column;
        gap: 25px;
    }

    .botones-hero a {
        font-size: 30px;
        color: #08d85a;
    }

}


/*skills*/

@media (min-width: 320px)and (max-width: 480px) {
    .skills-principal {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        height: auto;
    }



    .skills-container-1 {
        display: block;
        flex-direction: column;
        align-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        text-align: center;
    }

    .skills img {
        margin: 10px;
        height: 70px;

    }

    #css3 {
        height: 60px;
    }

    .skills-container-2 {
        display: block;
        flex-direction: column;
        text-align: center;
        height: 100%;
        width: 100%;
    }

}