@import url('https://fonts.googleapis.com/css2?family=Orbit&family=Wix+Madefor+Display&display=swap');


* {

    background: black;
    color: white;
    font-family: 'Orbit', sans-serif;
    font-family: 'Wix Madefor Display', sans-serif;
}

a {
    text-decoration: none;
}


.cabecera-principal .container {
   
    padding: 10px;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;

}

.logo {
    display: flex;
}

.cabecera-nav {
    display: flex;
    gap: 15px;
    align-items: center;

}

/*Comienza el hero*/

.hero-principal {
    height: 600px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(/assets/img/sunrise.jpg);
}

.hero-principal .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: none;
    height: 400px;
}

.texto-hero {
    display: flex;
    padding: 2px;
    flex-direction: column;
    /*background: rgba(68, 68, 104, 0.6);*/
    background-color: transparent;
    width: 50%;
    
    border-radius: 32px;
}


.texto-hero h1 {
    display: flex;
    font-size: 26px;
    font-weight: bold;
    background: none;

}

.texto-hero p {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    background: none;
}

.texto-hero a {
    background: none;

}

.foto {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: none;
}

.foto img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.botones-hero{
    display: flex;
    gap: 15px;
    justify-content: center;
    background: none;
}


